# rust
target/
debug/
**/*.rs.bk

# moon
.moon/cache
.moon/docker

# Editor
*.swp
*.swo
.idea
.vscode

# Vue/JS
node_modules/
dist/
cache/

# MISC
.DS_Store

# Custom releases
releases/

# Dev folder for testing purposes
dev/