on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: License enforcement

permissions:
  contents: read

jobs:
  licenses:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v4
      - name: Check License Header
        uses: apache/skywalking-eyes/header@main